<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Eat Me Now!{{else}}Save for Later!{{/if}}
	</button>
	<button class="delete" data-id="{{id}}">
		DELETE
	</button>
</li>
